:root {
  --container-whidth: 1150px;
  --container-padding: 15px;
}

.container {
  max-width: var(--container-whidth);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.container-left {
  padding-right: calc(
    (100% - var(--container-whidth)) / 2 + var(--container-padding)
  );
}

.container-right {
  margin-left: calc(
    (100% - var(--container-whidth)) / 2 + var(--container-padding)
  );
}
html,
body {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(28 / 18 * 100%);
  overflow-x: hidden;
  width: 100%;
}
body {
  position: relative;
}
.logo p {
  font-family: "Balsamiq Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  color: #000;
}
.logo img {
  margin-top: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  margin-left: 97px;
  gap: 35px;
  flex-wrap: wrap;
}
.menu__item a {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  color: #4e5469;
}
.btn {
  padding: 12px 24px;
  background: #e12f7a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.btn:active {
  position: relative;
  top: 1px;
}
.ellipse {
  position: absolute;
  z-index: -5;
  height: 1425px;
  width: 1425px;
  top: -392px;
  left: 367px;
  background: linear-gradient(
    231.25deg,
    #6c8612 27.16%,
    rgba(255, 255, 255, 0) 102.11%
  );
  border-radius: 50%;
}
@media (max-width: 992px) {
  .menu__list {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .menu__list {
    margin-left: 20px;
  }
  .logo img {
    height: 60px;
  }
  .logo p {
    font-size: 18px;
  }
  .header__menu {
    flex-wrap: wrap;
  }
  .menu__list {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }
  .header__menu .btn {
    margin-left: 25px;
  }
  .ellipse {
    left: 110px;
  }
}
@media (max-width: 634px) {
  .menu__list {
    margin-top: 15px;
  }
  .header__menu {
    justify-content: center;
  }
  .header__menu a {
    width: 100%;
  }
  .header__menu .btn {
    margin-top: 20px;
  }
}
@media (max-width: 479px) {
  .logo {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 6px auto auto 18px;
  }
  .logo img {
    width: 41px;
  }
  .header__menu {
    display: none;
  }
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: fixed;
  top: 46px;
  right: 46px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e12f7a;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
} /* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: calc(100% - 300px);
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__box > :last-child {
  margin-top: 15px;
}
.menu__item {
  transition-duration: 0.25s;
}
.hamburger__menu {
  display: none;
}
@media (max-width: 479px) {
  .hamburger__menu {
    display: block;
  }
}
h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #404656;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.main__text {
  display: block;
  margin: auto 0;
}
.text__inner {
  max-width: 553px;
}
.text__inner h4 {
  margin: 32px 0;
}
.main__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
  flex-wrap: wrap;
  margin-bottom: 181px;
}
.main__picture {
  display: flex;
}
.pic__inner__left {
  margin-right: 16px;
}
.pic__inner__circle {
  display: flex;
}
.pic__inner__circle > *:not(:first-child) {
  margin-left: 6px;
}
.circle {
  border-radius: 50%;
  display: block;
  margin: auto 0;
}
.circle__upper {
  background: #4d5469;
}
.circle__lower {
  background: #bb2e69;
}
.pic__inner__circle__bottom {
  margin-top: 16px;
}
.pic__inner__circle__top {
  margin-bottom: 16px;
  margin-left: -20px;
}
.circle1 {
  width: 80px;
  height: 80px;
}
.circle2 {
  width: 65px;
  height: 65px;
}
.circle3 {
  width: 50px;
  height: 50px;
}
.circle4 {
  width: 35px;
  height: 35px;
}
.circle5 {
  width: 20px;
  height: 20px;
}
@media (max-width: 1131px) {
  .main__inner {
    justify-content: center;
  }
  .main__picture {
    margin: 15px auto;
  }
  .text__inner a {
    display: block;
  }
}
.pic__inner__circle__mobile {
  display: none;
}

@media (max-width: 579px) {
  .pic__inner__left {
    margin-right: 0;
  }
  .pic__inner__circle__bottom,
  .pic__inner__circle__top {
    display: none;
  }
  .pic__inner img {
    width: 44.2wh;
  }
  .main__picture > *:not(:first-child) {
    margin-left: 3.28vw;
  }
  .pic__inner__circle__mobile {
    display: flex;
    justify-content: center;
    margin-top: 9.73vw;
  }
  .pic__inner__circle__mobile > *:not(:first-child) {
    margin-left: 1.92vw;
  }
  .circle__mobile__5 {
    width: 25.55vw;
    height: 25.55vw;
  }
  .circle__mobile__4 {
    width: 20.76vw;
    height: 20.76vw;
  }
  .circle__mobile__3 {
    width: 15.97vw;
    height: 15.97vw;
  }
  .circle__mobile__2 {
    width: 11.18vw;
    height: 11.18vw;
  }
  .circle__mobile__1 {
    width: 6.39vw;
    height: 6.39vw;
  }
  .main__picture {
    margin-top: 10.04vw;
  }
  .main__picture {
    margin-bottom: 10.04vw;
  }
}

@media (max-width: 856px) {
  .main__inner {
    justify-content: center;
  }
}
h2 {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  color: #4d5469;
}
.holidays__sweet__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.holidays__sweet {
  margin-bottom: 97px;
}
.holidays__sweet h2 {
  margin-bottom: 27px;
}
.holidays__sweet__container img {
  width: 352px;
  border-radius: 20px;
  margin-bottom: 36px;
}
.holidays__sweet__container h4 {
  text-align: center;
  margin-bottom: 29px;
}
.holidays__sweet__container {
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 1099px) {
  .holidays__sweet__inner {
    display: flex;
    flex-direction: column;
  }
  .main__inner {
    margin-bottom: 20px;
  }
  .holidays__sweet__container a {
    display: block;
    max-width: 352px;
    text-align: center;
    margin: 0 auto;
  }
}
.why__we__inner {
  margin-top: 27px;
}
.reasons1 {
  display: flex;
  justify-content: space-between;
}
.reason {
  position: relative;
  min-height: 364px;
  max-width: 364px;
  text-align: center;
  padding: 0 32px;
}
.reason img {
  margin-top: 41px;
  height: 90px;
  width: 90px;
}
.reason h4 {
  margin-top: 32px;
  text-align: center;
}
.reason p {
  margin-top: 35px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
#reason1 {
  background: #ffffff;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 130px 32px 32px 32px;
}
#reason2 {
  background: #ffffff;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 130px 32px;
}
#reason3 {
  background: #ffffff;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 32px 32px 130px 32px;
}
#reason3 p {
  padding: 0 20px;
}
@media (max-width: 1099px) {
  .reasons1 {
    flex-direction: column;
  }
  .reason {
    display: block;
    margin: 20px auto 0 auto;
  }
  .holidays__sweet {
    margin-bottom: 30px;
  }
}
.reasons2 {
  margin-top: 97px;
  background: linear-gradient(
    256.99deg,
    rgba(223, 31, 112, 0.33) -17.43%,
    rgba(251, 0, 106, 0.17) 126.96%
  );
  border-radius: 20px 130px;
  width: 1120px;
  height: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.reasons2__colunm {
  text-align: center;
}
.reasons2__colunm p {
  margin-top: 17px;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #f8026a;
  margin-bottom: 30px;
}
.reasons2__colunm span {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
/* .reasons2__colunm span {
  max-width: 290px;
} */
@media (max-width: 1099px) {
  .reasons2 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 30px;
    background: linear-gradient(
      256.99deg,
      rgba(223, 31, 112, 0.33) -17.43%,
      rgba(251, 0, 106, 0.17) 126.96%
    );
    border-radius: 0;
    max-width: 352px;
    height: 100%;
    margin: 0 auto;
    border-radius: 130px 20px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .reasons2__colunm {
    width: 100vw;
    text-align: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 352px;
    height: 100%;
    padding-bottom: 10px;
    margin-right: 10px;
  }
  .reasons2__colunm p {
    margin-bottom: 5px;
  }
  .reasons2__colunm span {
    padding: 0 180px;
  }
}
.order {
  margin-top: 161px;
}
.order__inner {
  width: 100%;
  height: 536px;
  background: linear-gradient(
    262.34deg,
    rgba(77, 84, 105, 0.2) -0.41%,
    rgba(77, 84, 105, 0.072) 100.95%
  );
  overflow-y: hidden;
  margin-bottom: 100px;
}
.order__container {
  margin-top: -700px;
  display: flex;
}
.order__form {
  margin: 139px auto auto 29px;

  width: 100%;
}
.order__form h3 {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #4d5469;
}
.order_field {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #4d5469;
  height: 52px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.order__form form > *:not(:first-child) {
  margin-top: 17px;
}
.order__name {
  margin-top: 40px;
}
.order__form input[type="submit"] {
  margin-top: 40px;
  padding: 12px 24px;
  color: #fff;
  background: #e12f7a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
@media (max-width: 1029px) {
  .order {
    margin-top: 79px;
  }
  .order__btn {
    display: block;
    width: 100%;
  }
  .order__container {
    flex-wrap: wrap;
  }
  .order__img {
    margin-left: auto;
    margin-right: auto;
  }
  .order__form {
    margin: 15px auto;
  }
  .order__form h3 {
    text-align: center;
  }
}
@media (max-width: 590px) {
  .order__inner {
    background: none;
  }
}
.order__foto {
  cursor: pointer;
}
.order__process h2 {
  margin-top: 100px;
}
.order__process__container {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order__process__container > *:not(:first-child) {
  margin-left: 10px;
}
.order__process__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 256px;
  height: 289px;
  padding: 0 32px 60px 32px;
  border-radius: 10px;
}
#accept__order {
  background: rgba(187, 46, 105, 0.21);
}
.order__process__item {
  margin-top: 10px;
  padding-top: 35px;
}
.order__process__number {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 50%;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  margin-top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#process__1 {
  color: #fa0069;
}
#process__2 {
  color: #4e5469;
}
#process__3 {
  color: #5e721b;
}
#process__4 {
  color: #48251b;
}
.order__process__inner h4 {
  margin-top: 63px;
}
.order__process__inner p {
  margin-top: 34px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
#cooking__muffins {
  background: rgba(89, 97, 122, 0.2);
}
#send__order {
  background: rgba(108, 134, 18, 0.34);
}
#resive__order {
  background: rgba(72, 37, 27, 0.35);
}
@media (max-width: 817px) {
  .order__process__container {
    justify-content: space-around;
  }
}

@media (max-width: 551px) {
  .order__process__container {
    justify-content: center;
  }
  .order__process h2 {
    margin-top: 27px;
  }
}
.reviews h2 {
  margin-top: 97px;
}
.reviews__container {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviews__box {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 60px;
}
.reviews__container__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  position: relative;
  background: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 130px 30px 30px 30px;
  min-height: 356px;
  padding-bottom: 10px;
}
.text__reviews {
  padding-top: 36.34px;
  text-align: center;
  padding-bottom: 54px;
}
.text__reviews p {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  padding-left: 42px;
  padding-right: 42px;
}
.star__container {
  margin-top: 20px;
}
.text__reviews h4 {
  margin-top: 10px;
}
.reviews__container > *:not(:first-child) {
  padding-left: 10px;
}
.reviews__box img {
  position: absolute;
  bottom: -55px;
}
@media (max-width: 739px) {
  .reviews__container {
    justify-content: center;
  }
  .reviews h2 {
    margin-top: 30px;
  }
}
.create__order__inner {
  margin-top: 97px;
  display: flex;
  justify-content: center;
}
.order__inner__form {
  max-width: 577px;
  padding-top: 97px;
}
.order__inner__form h2 {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #4d5469;
  text-align: left;
}
#taste__selector {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #4d5469;
  height: 52px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.create__order__form {
  margin-top: 38px;
}
.create__order__form > *:not(:first-child) {
  margin-top: 25px;
}
.create__order__form input[type="submit"] {
  margin-top: 40px;
  padding: 12px 24px;
  color: #fff;
  background: #e12f7a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.order__inner__picture {
  margin-left: 32px;
  margin-right: 10px;
}
@media (max-width: 1099px) {
  .create__order__inner {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .order__inner__form .order__btn {
    width: 100%;
  }
  .order__inner__picture {
    margin-top: 10px;
  }
  .order__inner__form {
    padding-top: 15px;
  }
}
@media (max-width: 600px) {
  .order__inner__picture {
    margin-left: 0;
  }
}
.our__blog {
  margin-top: 97px;
}
.our__blog__container {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our__blog__container > *:not(:first-child) {
  margin-left: 32px;
}
.our__blog__continer__inner {
  max-width: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our__blog__continer__inner img {
  max-width: 352px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.our__blog__continer__inner span {
  margin-top: 39px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.our__blog__continer__inner .btn{
  width: 134px;
  margin: 39px auto 12px auto;
}
@media (max-width: 1149px){
  .our__blog__container{
    justify-content: space-around;
  }
  .our__blog__container > *:not(:first-child) {
    margin-left: 0;
  }
  .our__blog__continer__inner img {
    margin-left: 30px;
    margin-right: 30px;
  }
  .our__blog__continer__inner .btn{
    margin-bottom: 35px;
  }
  .our__blog {
    margin-top: 35px;
  }
}
@media (max-width: 733px){
.our__blog__continer__inner .btn{
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}
}